
a {
    text-decoration: none;
    color: #2196f3;
}
.no-comments {
    font-weight: bolder;
    color: #9E9E9E;
}
.avatar {
    position: absolute;
    right: 1rem;
    top: 0;
    margin: .3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: #3333 .3rem solid;
}
@media (max-width: 768px) {
    .avatar {
        width: 4rem;
        height: 4rem;
    }
}
.avatar-mid:hover {
    transform:rotate(360deg);;
}
.avatar-mid {    
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: #3333 .2rem solid;
    transition: .5s ease-in-out;
}
.avatar-userinfo{
    width: 5rem;
    height: 5rem;
}

/* .delete {
    color: #ff5722;
} */
.delete:hover {
    text-decoration: underline;
}
.captcha {
    margin-top: -1rem 
}
.hinde-btn {
    display: none;
}
.index-time, .post-time{
    display: none
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
    display: inline-block;
    width: 100%;
}
.footer {
    position: absolute;
    /* height: 5vh; */
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);
}
body{
    position: relative;
    height: auto;
    min-height: 95vh;
    margin-bottom: 5vh;
}
html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }