.user-info {
    margin-top: .2rem;
    height: 1rem;
    line-height: 1rem;
}
.post-username {
    color: #999
}
.avatar {
    width: .9rem;
    height: .9rem;
    border-radius: 25%;
    border: #9e9e9e66 .02rem solid;
    transition: .2s;
    box-sizing: border-box;
}
.avatar:hover {
    border-radius: 19% 63% 13% 69%
}
.float-right {
    float: right
}
.post, .comments {
    color: #9E9E9E;
    margin: 0.6rem auto 0.2rem;
    padding: 0.4rem;
    box-shadow: 0.01rem 0.05rem 0.2rem;
    border-radius: 0.2rem;
    overflow: hidden;
  }